
/* **************************** Default style  **************************** */
TABLE.mainTable {
	border: 1px solid black;
	margin:0px;padding:0px;
	border-collapse: collapse;
}

TABLE.mainTable TR {
	border: 1px solid lightgrey;
}

TABLE.mainTable TR:nth-child(even) {
	background-color:whitesmoke;
}

TABLE.mainTable TR:hover {
	/*border: 3px solid black;*/
}

/* **************************** /Default style  **************************** */

/* **************************** Classes style  **************************** */
.prioDefault {
	color: black;
}

.prioHigh  {
	color: red;
	font-size: bigger;
	font-weight: bold;
}


.prioLow {
	color: green;
}

.rawContent {
	color:grey;
	font-size:smaller;
	font-family: monospace;
    white-space: pre-wrap;
	overflow: auto;
}

.lineNumberStyle{
	font-size:smaller;
}

.generationDetails {
	color:gainsboro;
	font-size:smaller;
}

.timeStyle {
	font-size:smaller;
}
/* **************************** /Classes style  **************************** */


/* **************************** Hint styles **************************** */
/* Default style, will be shared by ALL hints*/
.hintStyle {
	background-color:yellow;
	color:purple;
	font-style:italic;
}

/* Override for low priority hints */
.prioLow .hintStyle{
	background-color:Transparent
}

/* **************************** /Hint styles **************************** */