<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- accepted values are 5 or 6 -->
    <add key="AVRStudioVersion" value="6"/>
    
    <add key="ProgrammerProtocol" value="avrispv2"/>
    <add key="COMport" value="COM6"/>

	<!-- Sample for avrdude.exe -->
	<!--
    <add key="UploaderExe" value="D:\arduino-1.0.2\hardware\tools\avr\bin\avrdude.exe"/>
    <add key="Params" value="-C D:\arduino-1.0.2\hardware\tools\avr\etc\avrdude.conf -p {mcu} -P {comport}  -c {protocol} -U flash:w:&quot;{hexfile}&quot;:i "/>
	-->
	
	<!-- Sample for atprogram.exe (AVR Studio 6) -->
	<!-- type "atprogram.exe" without param to get the list of options or "atprogram.exe help program"-->
    <add key="UploaderExe" value="D:\Program Files (x86)\Atmel\Atmel Studio 6.0\avrdbg\atprogram.exe"/>
    <add key="Params" value="--tool avrispmk2 --interface ISP --device {mcu} program --flash --format hex --verify --chiperase --file {hexfile}"/>

  </appSettings>
</configuration>