<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProgrammerProtocol" value="avrispv2"/>
    <add key="COMport" value="COM1"/>

    <add key="UploaderExe" value="avrdude"/>
    <add key="Params" value="-p {mcu} -P {comport}  -c {protocol} -U flash:w:&quot;{hexfile}&quot;:i "/>
  </appSettings>
</configuration>