.prioDefault {
	color: black;
}

.prioHigh  {
	color: red;
	font-size: bigger;
	font-weight: bold;
}


.prioLow {
	color: green;
}

.rawContent {
	color:grey;
	font-size:smaller;
	font-family: monospace;
    white-space: pre-wrap;
	overflow: auto;
}

.hintStyle {
	background-color:yellow;
	color:purple;
}